@import '../../../variables.scss';

.l-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 16px;
    overflow: auto;
}

.l-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.l-img {
    max-height: 64px;
    display: flex;
    justify-content: center;
}

.l-fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        left: 30%;
        opacity: 0.2;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
