<div class="g-app-dimensions l-container">
    <!-- #region Content -->

    <div class="l-content">
        <h1 class="g-text-h1-dark mb-3 text-left">How Does It Work?</h1>
        <p class="g-text-p-dark text-left mb-2">
            Subscribers can appoint a Broker to manage their account. Brokers can create Scouts, Lots, and Negotiate on
            the subscribers' behalf. Throughout the process keep complete control and take no transactional risk by
            making use of a Broker. Only you submit the final Match and sign the final contract.
        </p>
        <p class="g-text-p-dark text-left mb-2">To appoint a Broker, follow these steps:</p>
        <p class="g-text-p-dark text-left">- Scout for Brokers</p>
        <p class="g-text-p-dark text-left mb-2">- Request to appoint</p>
        <p class="g-text-p-dark text-left">The commission fee of brokers is R3 per ton; only on a successful Match!</p>
    </div>
    <!-- #region Buttons -->

    <div class="mt-4">
        <button class="mb-2 g-primary-button" (click)="handleRouteToBrokers()">Continue</button>
        <a class="g-secondary-button pt-2" mat-flat-button href="https://matchmx.com/find-your-broker/"
            >Visit the MX Website</a
        >
    </div>

    <!-- #endregion -->

    <!-- #endregion -->
</div>
