<div class="l-container">
    <!-- #region Header -->

    <div class="l-header">
        <img
            class="l-home-img"
            src="./assets/icons/home-blue-icon.svg"
            alt="Blue bell"
            (click)="handleNavigateToHomePage()"
        />
        <div class="g-logo-header-container">
            <img
                class="g-header-mx-icon"
                src="./assets/icons/MX-small-logo.svg"
                alt="home icon"
                (click)="handleNavigateToHomePage()"
            />
            <h2 class="g-text-h2-dark mb-0">Completed Negotiations</h2>
        </div>
        <div class="g-profile-icon-container">
            <img
                class="g-profile-icon"
                src="./assets/icons/profile-icon.svg"
                alt="home icon"
                (click)="handleNavigateToProfile()"
            />
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Loading Spinner -->

    <div *ngIf="isLoading; else completedLoaded" class="l-spinner-holder">
        <mat-progress-spinner
            class="g-mat-progress-spinner"
            mode="indeterminate"
            [diameter]="40"
        ></mat-progress-spinner>
    </div>

    <!-- #endregion -->

    <!-- #region Completed Content -->

    <ng-template #completedLoaded>
        <div *ngIf="completedCards && completedCards.length; else noCompletedCards" class="l-content-container">
            <!-- #region Tab Header -->

            <app-dashboard-header
                [activeRoute]="'completed'"
                [toggleIndex]="toggleIndex"
                [toggles]="completedToggles"
                [showSearchBar]="searchInput || searchInput === ''"
                ($changeToggleEvent)="handleToggleChange($event)"
                ($searchInputEvent)="handleSearchInput($event)"
            ></app-dashboard-header>

            <!-- #endregion -->

            <!-- #region Negotiating Room Cards -->

            <div
                *ngFor="let completedCard of filteredCompletedCards"
                class="l-card-container"
                [class.g-fade-in]="animateIn"
            >
                <app-negotiation-card
                    *ngIf="!notificationLotIds.includes(completedCard.id); else cardHasNotification"
                    [negotiationCard]="completedCard"
                    [hasActiveAgent]="hasActiveBroker"
                ></app-negotiation-card>
                <ng-template #cardHasNotification>
                    <app-negotiation-card
                        [negotiationCard]="completedCard"
                        [notifications]="handleGetNotification(completedCard.id)"
                        [hasActiveAgent]="hasActiveBroker"
                    ></app-negotiation-card>
                </ng-template>
            </div>

            <!-- #endregion -->
        </div>

        <ng-template #noCompletedCards>
            <div class="l-no-content-container">
                <h1 class="g-text-h2-dark mx-2 mb-3">You currently have no completed deals...</h1>
                <p class="g-text-p-dark mx-5">Create a Lot, negotiate and get a Match!</p>
            </div>
        </ng-template>
    </ng-template>

    <!-- #endregion -->
</div>
