.l-container {
    display: flex;
    flex-wrap: wrap;
}

.l-validation-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.l-validation-icon {
    width: 13px;
    height: 13px;
    margin-top: 3px;
    margin-right: 3px;
}
