<div class="l-container">
    <div class="l-validation-container">
        <img
            class="l-validation-icon"
            [src]="passwordValidLength ? '../../../assets/icons/green-tick.svg' : '../../../assets/icons/grey-tick.svg'"
            alt=""
        />
        <p class="g-text-p-small-dark pt-1 text-left">8 characters</p>
    </div>
    <div class="l-validation-container">
        <img
            class="l-validation-icon"
            [src]="passwordHasLetter ? '../../../assets/icons/green-tick.svg' : '../../../assets/icons/grey-tick.svg'"
            alt=""
        />
        <p class="g-text-p-small-dark pt-1 text-left">1 letter</p>
    </div>
    <div class="l-validation-container">
        <img
            class="l-validation-icon"
            [src]="passwordHasNumber ? '../../../assets/icons/green-tick.svg' : '../../../assets/icons/grey-tick.svg'"
            alt=""
        />
        <p class="g-text-p-small-dark pt-1 text-left">1 number</p>
    </div>
    <div class="l-validation-container">
        <img
            class="l-validation-icon"
            [src]="passwordHasSymbol ? '../../../assets/icons/green-tick.svg' : '../../../assets/icons/grey-tick.svg'"
            alt=""
        />
        <p class="g-text-p-small-dark pt-1 text-left">1 symbol</p>
    </div>
</div>
