<div class="l-container">
    <!-- #region Header -->

    <div class="l-header">
        <img class="l-close-icon" src="./assets/icons/close-icon-dark.svg" alt="close" (click)="handleClose()" />

        <img class="l-icon" src="{{ data.stepInfo?.iconPath }}" alt="icon" />

        <h1 class="g-text-h1-dark">
            <b>{{ data.stepInfo?.heading }}</b>
        </h1>
    </div>

    <!-- #endregion -->

    <!-- #region Modal Content -->

    <div class="l-content g-text-p-dark">
        <p [innerHTML]="data.stepInfo?.body" ></p>
    </div>

    <!-- #endregion -->

    <!-- #region Buttons -->

    <button class="g-primary-button" (click)="handleClose()">Okay, got it!</button>

    <!-- #endregion -->
</div>
