<div class="g-app-dimensions l-container">
    <img class="l-close-icon" src="./assets/icons/close-icon-dark.svg" alt="close" (click)="handleCloseModal()" />
    <div *ngIf="!isRequestSent; else showSuccess">
        <h1 class="g-text-h1-dark my-3">Request Broker?</h1>
        <p class="g-text-p-dark">Do you wish to request this broker?</p>
        <div class="l-card-container">
            <app-broker-info-card [data]="data.broker"></app-broker-info-card>
        </div>
        <button class="g-primary-button" (click)="handleRequestBroker()">
            <div *ngIf="isLoading; else showButtonText">
                <mat-progress-spinner
                    class="g-mat-progress-spinner-white mx-auto"
                    mode="indeterminate"
                    [diameter]="30"
                ></mat-progress-spinner>
            </div>
            <ng-template #showButtonText>Request Broker?</ng-template>
        </button>
    </div>
    <ng-template #showSuccess>
        <h1 class="g-text-h1-dark my-3">Request Sent</h1>
        <p class="g-text-p-dark">Your request has been successfully sent. You can cancel this if need be.</p>
        <button class="g-primary-button mt-3" (click)="handleViewBrokerRequest()">View Broker Request</button>
    </ng-template>
</div>
