<div class="l-container">
    <!-- #region Header -->

    <div class="l-header">
        <img class="l-close-icon" src="./assets/icons/close-icon-dark.svg" alt="close" (click)="handleClose()" />
        <img class="l-icon" src="./assets/images/bottom-nav-scouts-grey.svg" alt="icon" />
    </div>
    <h1 class="g-text-h1-dark mb-3">
        <b>Create a Scout</b>
    </h1>

    <!-- #endregion -->

    <!-- #region Modal Content -->

    <div class="g-text-p-dark">
        <p>
            A lot is best when paired with one of your scouts. This will connect you to parties most interested in your
            lot.
        </p>
    </div>

    <!-- #endregion -->

    <!-- #region Buttons -->

    <button class="g-primary-button my-2" (click)="handleNavigateToScout()">Go to Scouts</button>

    <!-- #endregion -->
</div>
