@import 'src/variables.scss';

.l-container {
    position: relative;
}

.l-close-icon {
    width: 18px;
    height: auto;
    position: absolute;
    right: 8px;
    top: 10px;
    z-index: 1;
}

.l-success-heading {
    padding: 8px 0;
}

.l-success {
    padding: 16px;
}
