<div class="g-app-dimensions l-container">
    <!-- #region Header -->

    <div class="l-header">
        <img
            class="l-back-icon"
            src="./assets/icons/back-arrow-icon.svg"
            alt="back-arrow-icon"
            (click)="handleBack()"
        />
        <p class="g-text-h2-dark">FAQs</p>
    </div>

    <!-- #endregion -->

    <!-- #region Content -->

    <div class="l-content">
        <div class="l-flex-gap">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">Is Match really free to use?</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    Yes, there are no sign-up fees. Match Exchange takes no commission on any successful purchase that
                    results from parties being introduced through Match. Match is merely a free tool for buyers and
                    sellers of agricultural commodities to have more options to do business with.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">What is a Scout?</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    You create a Scout to tell the market what you are planning to buy or sell and within which area.
                    Match Exchange’s algorithm with display the available counter-parties interested in the same
                    commodity.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">What is a Lot?</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    You create a Lot to tell the market more details about the commodity that you want to buy or sell.
                    These details are the 5 P’s (product, price, period of availability, payment terms and position) and
                    2 Q’s (quality and quantity). You can create multiple Lots to partially market your produce.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left"
                        >Will my Scouts or Lots be removed or disappear after some time?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    No, your Scouts and Lots will remain on Match, for as long as you are buying or selling the
                    commodity for which the Scout or Lot has been created. You can delete a Scout or a Lot from the
                    “Scouts” or the “Lots” screens if you no longer want a specific Scout or Lot to be matched with
                    another user’s Scouts or Lots.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">
                        Is there any obligation to transact with the matching counterparty?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    No, after you have a match, you and the counterparty are introduced to each other. If you are unsure
                    about making a transaction with a specific party, you are welcome to decline the offer and recreate
                    your lot on Match.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">
                        How do I know that the counterparty that I negotiate with is a trusted person or
                        business?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    Kindly see the “Know your counterparty” page in the app for helpful guidelines to verify the
                    counterparty. These guidelines will also be sent to you in an email once a negotiation has been
                    completed. Match Exchange will also verify trusted users in the near future.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="g-text-p-dark text-left">
                        I am having difficulty understanding the process or I cannot find what I’m looking for, what do
                        I do now?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p class="g-text-p-dark text-left">
                    We will kindly assist users to become proficient in using the App, please send an email to
                    <a href="mailto:info@matchmx.com">info@matchmx.com</a> or a WhatsApp message to 072 332 2936 and we
                    will contact you. Alternatively, you can watch one of our tutorial videos on the Match Exchange
                    YouTube page.
                </p>
            </mat-expansion-panel>
        </div>
    </div>

    <!-- #endregion -->
</div>
