@import 'src/variables.scss';

.l-container {
    width: 100%;
    height: 100%;
    background-color: $app-bg-color;
}

.l-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: $background-color;
}

.l-home-img {
    width: 24px;
    height: auto;
}

.l-spinner-holder {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-content-container {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    background-color: $background-color-grey;
}

.l-cdk {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.l-card-holder {
    width: 100%;
    height: fit-content;
    padding: 16px 16px 0 16px;
}
.l-card-holder:last-child {
    padding: 16px;
}

.l-button {
    position: relative;
    width: 90%;
    min-height: 44px;
    border: none;
    border-radius: $app-border-radius;
    box-shadow: $app-box-shadow;
    color: #ffffff;
    background-color: $app-primary-button-bg-color;
    margin-top: 48px;
    outline: none;
}
.l-button-img {
    position: absolute;
    width: 18px;
    height: 18px;
}
.l-button-img:first-child {
    left: 16px;
}
.l-button-img:last-child {
    top: 14px;
    right: 16px;
}
