@import '../../../../variables.scss';

.l-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.l-centered-content {
    padding-bottom: 16px;
    padding-top: 16px;
    overflow: auto;
}

.l-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.l-form-container {
    margin-left: 16px;
    margin-right: 16px;
}

input:focus {
    outline: none;
}

.l-or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $input-border;
    line-height: 0.1em;
    margin: 10px 0 20px;
    & span {
        background: #fff;
        padding: 0 16px;
    }
}

.l-terms {
    line-height: 24px;
}

.l-password-visible-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
}

.l-validation-error {
    border: solid 1px $error-message !important;
    .g-input-text::-webkit-input-placeholder {
        color: $error-message;
    }
}
