<div class="g-app-dimensions l-container">
    <div class="l-header">
        <img
            class="l-back-icon"
            src="./assets/icons/back-arrow-icon.svg"
            alt="back-arrow-icon"
            (click)="handleBack()"
        />
        <p class="g-text-h2-dark">KYC-Party</p>
    </div>
    <div class="l-content">
        <h1 class="g-text-h1-dark">Know your Counterparty ("KYC-party"), protect yourself</h1>
        <p class="g-text-p-dark text-left pt-2">
            <span class="l-text-bold">TAKE NOTE:</span><br />[Match Exchange is not a party to the Seller and Buyer
            agreement.
            <br />
            These are just guidelines for you to follow to better KYC-party.]
        </p>

        <div class="pt-4">
            <h2 class="g-text-h2-dark mb-2">SELLER</h2>
            <p class="g-text-p-dark text-left">
                The objective here is to ensure that you get paid in full, on time, for the product you deliver:
            </p>
            <p class="g-text-p-dark text-left">
                1. Is the Buyer (Off-Taker) a well-known company? If not, ask around, especially in your area.
            </p>
            <p class="g-text-p-dark text-left">
                2. Google the Buyer’s contact details, phone the company and ask to speak to the Procurement Manager. Is
                he aware of the transaction?
            </p>
            <p class="g-text-p-dark text-left">
                3. If you’ve agreed to terms, consider paying for a credit check. Does this company pay its bills?
            </p>
        </div>

        <div class="pt-4">
            <h2 class="g-text-h2-dark mb-2">BUYER</h2>
            <p class="g-text-p-dark text-left">
                Your objective is to receive the quantity and quality product that you are paying for, and on time:
            </p>
            <p class="g-text-p-dar text-leftk">1. Is the Seller a known farmer in the area?</p>
            <p class="g-text-p-dark text-left">
                2. Phone procurement agents or farmers you know in the area and get a reference.
            </p>
            <p class="g-text-p-dar text-leftk">3. Are you aware of any problems with this farmer (producer)?</p>
            <p class="g-text-p-dark text-left">
                4. Phone the farmer and confirm the location from where the produce will be delivered.
            </p>
            <p class="g-text-p-dark text-left">
                5. Obtain information about the farmer’s other off-takers / customers or to who the farmer normally
                supplies to. Phone that off-taker and get a reference.
            </p>
            <p class="g-text-p-dark text-left">
                6. If you have agreed to any payments prior to delivery, consider a credit check or if possible an
                escrow account at an independent (and trusted) third party that may only release the payment on your
                receipt of the purchased goods.
            </p>
        </div>
        <p class="g-text-p-dark l-text-bold pt-4">
            We are not liable for any damages or losses whatsoever that may result for a transaction that was not
            successful.
        </p>
    </div>
</div>
