<div class="g-app-dimensions">
    <div class="l-container">
        <div class="l-content">
            <img class="l-icon mt-5" src="../../../assets/icons/lock-icon.svg" alt="" />
            <h1 class="g-text-h1-dark mt-4">Forgot Password</h1>
            <p class="g-text-p-dark mt-4">
                Enter your email address below and we will send you further instructions to reset your password.
            </p>

            <div class="mt-5 w-100">
                <form #forgotPasswordForm="ngForm">
                    <div
                        [class.l-validation-error]="email.touched && !forgotPasswordForm.valid"
                        class="g-text-input-container"
                    >
                        <img
                            class="g-input-text-icon"
                            [src]="
                                email.touched && !forgotPasswordForm.valid
                                    ? '../../../assets/icons/mail-red-icon.svg'
                                    : '../../../assets/icons/mail-icon.svg'
                            "
                            alt=""
                        />
                        <input
                            class="g-input-text"
                            type="email"
                            placeholder="Your Email"
                            [(ngModel)]="emailInput"
                            #email="ngModel"
                            name="email"
                            [pattern]="emailPattern"
                            required
                        />
                    </div>

                    <p
                        *ngIf="email.touched && !forgotPasswordForm.valid"
                        class="g-input-validation-text-error pt-1 text-left"
                    >
                        Enter a valid email address.
                    </p>
                </form>
            </div>
        </div>
        <button
            [ngClass]="{
                'g-primary-button': forgotPasswordForm.valid,
                'g-disabled-button': forgotPasswordForm.invalid
            }"
            [disabled]="forgotPasswordForm.invalid"
            class="g-primary-button mt-5"
            (click)="handleForgotPassword()"
        >
            Send Email
        </button>
    </div>
</div>
