@import 'src/variables.scss';

.l-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow: auto;
}

.l-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.l-icon {
    width: 32px;
}

input:focus {
    outline: none;
}

.l-validation-error {
    border: solid 1px $error-message !important;
    .g-input-text::-webkit-input-placeholder {
        color: $error-message;
    }
}
