<div class="l-container">
    <!-- #region Modal Header -->

    <div class="l-header">
        <img class="l-close-icon" src="./assets/icons/close-icon-dark.svg" alt="close" (click)="handleCloseModal()" />
        <h2 class="g-text-h2-dark">
            <b>Get Lots In Date Range</b>
        </h2>
    </div>

    <!-- #endregion -->

    <!-- #region Modal Content -->

    <div class="l-content">
        <div class="g-text-input-container" (click)="picker.open()">
            <img class="g-input-text-icon" src="./assets/icons/calendar.svg" alt="" />

            <mat-date-range-input [rangePicker]="picker" class="g-mat-datepicker g-input-text l-alter-width-mat-fields">
                <input matStartDate [(ngModel)]="lowerBound" name="lowerBound" />
                <input matEndDate [(ngModel)]="upperBound" name="upperBound" required />
            </mat-date-range-input>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Buttons -->

    <button class="g-primary-button" (click)="handleCloseModal()">Get Lots</button>

    <!-- #endregion -->
</div>
