@import 'src/variables.scss';

.l-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.l-header {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.l-close-icon {
    width: 18px;
    height: auto;
    position: absolute;
    right: 0;
}

.l-content {
    width: 100%;
    height: fit-content;
    margin: 24px 0 32px 0;
}

.l-alter-width-mat-fields {
    width: calc(100% - 48px);
    margin-left: 9px;
}
